* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
    padding: 10px;
}

canvas {
    background-color: limegreen;
    animation: changeBackground 60s linear infinite alternate;
}

@keyframes changeBackground {
    from {
        background-color: limegreen;
    }
    to {
        background-color: red;
    }
}
